/* From Uiverse.io by mi-series */



/* rest of your CSS code */
.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #40B3A2;
  min-width: 150px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 900;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  /* Ensure proper positioning for animation */
  z-index: 1;
  transform: scale(1);
  /* Default size */
  transition: transform 0.3s ease-out;
}

.btn:hover {
  opacity: .95;
  transform: scale(1.05);
}

.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}

.glowing-shadow {
  box-shadow:
    0px 0px 15px 10px #d2e6ff,
    /* Outer glow */
    inset 0px 0px 25px 10px #d2e6ff;
  /* Inner glow */
  transition: box-shadow 0.3s ease-in-out;
}

.glowing-shadow:hover {
  box-shadow:
    0px 0px 50px 15px #ffffff,
    /* Enhanced outer glow on hover */
    inset 0px 0px 50px 15px #ffffff;
  /* Enhanced inner glow on hover */
}